.masthead {
    background-color: #3E5932
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #D7D7D9;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Arial";
}