.masthead {
    background-color: #ADC5D9
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #0D0D0D;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}